<div class="about-snippet-block text-center">
    <img class="img-fluid" width="150" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
    <div class="mt-3">
        <p class="p-small-one">
            "Nós preferimos colocar nosso dinheiro e fé na matemática, pois ela é livre
            de política e erro humano." (Tyler Winklevoss) 
        </p> 
        <p class="p-small-one">
            "Tenho certeza que de que em 20 anos haverá um volume de transação muito grande
            (bitcoin) ou nenhum volume." (Satoshi Nakamoto)
        </p>
        <p class="p-small-one text-muted">
            "Você não pode parar coisas como o Bitcoin. É como tentar parar pólvora." (John McAfee)
        </p>             
    </div>
</div>






